html {
  font-size: 62.5%;
}

body,
ul,
li,
h1 {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.wrapper {
  width: 85%;
  max-width: 1100px;
  margin: 0 auto;
}

.small-wrapper {
  width: 75%;
  max-width: 850px;
  margin: 0 auto;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #463B41;
}

h1 {
  font-family: 'Righteous', cursive;
  text-transform: uppercase;
  font-size: 2.6rem;
}


h2,
h3,
h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin-top: 0;
}

h2 { font-size: 4.3rem; }

h3 {
  font-size: 2.8rem;
  font-weight: 600;
  max-width: 460px;
  margin: 0;
  line-height: 4rem      
}

h4 {
  text-transform: uppercase;
  font-size: 2.2rem;
  font-weight: bolder;
}

h5 {
  font-size: 2rem;
}

h6 {
    font-size: 1.3rem;
    line-height: 1.6rem;
    margin-top: 2px;
    font-style: italic;
    margin-bottom: 6px;

}

p {
  line-height: 3rem;
  margin-top: 1px;

}

/* TABLE */

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 60%;
  
  
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

table, th, td {
  border: 1px solid black;
}

/* ANOTHER TABLE */

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width:70%; 
    margin-left:15%; 
    margin-right:15%;
}

.content-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}


  }
/* Top nav styles */
.top-nav {
  background-color: rgba(255, 246, 239, 0.5);
  padding: 35px 0 20px;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 10;
}

.top-nav .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-nav .logo {
  width: 180px;
}

.top-nav ul {
  display: flex;
  width: 300px;
  justify-content: space-between;
}

.top-nav ul a {
  padding-bottom: 3px;
  border-bottom: 3px solid transparent;
}

.top-nav ul a:hover,
.top-nav ul a:focus {
  border-bottom: 3px solid #ffa85c;
}

/* header styles */
header {
  background-image: url(../assets/header-background.png);
  background-size: cover;
}

header .flex-container {
  display: flex;
  min-height: calc(100vh - 92.75px);
  justify-content: center;
  align-items: center;
  position: relative;
  top: -40px;
}

/* project styles */
main {
  padding: 80px 0 150px;
}

.projects li {
  border: 1px solid #f8d7bd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 0;
  padding: 50px;
}

.projects li .img-container {
  width: 48%;
  flex-shrink: 0;
}

.projects li .project-text {
  width: 48%;
}

.projects a {
  background: #f8e6e1;
  padding: 14px 0px;
  text-align: center;
  transition: 0.3s;
  display: block;
  width: 110px;
}

.projects li:nth-of-type(odd) .img-container {
  order: 1;
}

.projects li:nth-of-type(even) a {
  margin-left: auto;
}


.projects a:hover,
.projects a:active,
.projects a:focus {
  background: #ffa85c;
}

.projects a:active {
  color: #f9f2f6;
}


/* footer styles */
footer {
  background-color: #fff6ef;
  padding: 20px 0;
}

footer .wrapper {
  display: flex;
  justify-content: space-between;
}


/* Project page */
.project-header {
  background: #f2f2f2;
}

.header-img {
  min-width: 250px;
  width: 55%;
  flex-shrink: 0;
}

.example-caption {
  font-style: italic;
  text-align: center;
}

.main-title {
  text-transform: uppercase;
}

.sub-title {
  text-transform: uppercase;
    margin-bottom: 3px
}

.project-fullbleed {
  background: #f7f4f4;
  padding: 80px 0;
}

.sub-title.orange {
  color: #ffa85c;
  font-weight: 700;
}

.i-sub {
    font-style: italic;
}
section .flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-desc {
  margin-right: 60px;
}


.last-section {
  margin: 80px auto;
}

.image-gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.image-gallery .example-img {
  width: 30%;
}

ol {
  display: block;
  font-family: 'open sans', sans-serif;
  color: inherit;
  font-size: 1.5rem;
  line-height: 2.6rem;
  list-style-type: decimal;
  margin-top: 1em;
  margin-bottom: 2em;
  margin-left: 0;
  margin-right: ;
  padding-left: 40px;
}

ul {
  display: block;
  font-family: 'open sans', sans-serif;
  color: inherit;
  font-size: 1.5rem;
  line-height: 2.6rem;
  list-style-type: square;
  margin-top: em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: ;
  padding-left: 40px;
}

/* TABLE */

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 60%;
  
  
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

table, th, td {
  border: 1px solid black;
}

/* ANOTHER TABLE */

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width:70%; 
    margin-left:15%; 
    margin-right:15%;
}

.content-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
/* About page */

.about-header {
  background: none;
}

.about-heading {
  margin-top: 40px;
  font-family: Montserrat;
  font-size: 2.5rem;
  font-weight: 600;
}

.about-text p {
  font-size: 1.9rem;
}


@media (max-width: 760px) {
  h5 {
    margin: 28px 0 18px;
  }

  p {
    line-height: 2.6rem;
  }

  .image-gallery {
    justify-content: space-around;
  }

  .image-gallery .example-img {
    width: 45%;
    margin-bottom: 20px;
  }
}

@media (max-width: 660px) {
  .projects li {
    flex-direction: column;
  }

  .projects li .img-container,
  .projects li .project-text {
    width: 100%;
  }

  .projects li:nth-of-type(even) .img-container {
    order: 0;
  }

  .projects li:nth-of-type(odd) a {
    margin-left: 0;
  }
  .project-header .flex-container,
  section .flex-container {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  .small-desc {
    margin-right: 0;
  }
}


@media (max-width: 515px) {
  .top-nav .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .top-nav ul {
    display: flex;
    margin: 20px 0 10px;
    max-width: 300px;
    width: 100%;
    justify-content: space-between;
  }

  header .flex-container {
    display: flex;
    min-height: calc(100vh - 140px);
    justify-content: center;
    align-items: center;
    position: relative;
    top: -40px;
  }

  .top-nav ul li {
    margin: 0 20px;
  }

  .projects li {
    padding: 27px;
  }

  main {
    padding-bottom: 100px;
  }

  .image-gallery .example-img {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 400px) {
  footer .wrapper {
    flex-direction: column;
    align-items: center;
  }
}